<%- include('../partials/admin/header.ejs') %>
<header>
    <%- include('../partials/admin/navbar.ejs') %>
</header>
<div class="row">
    <%- include('../partials/admin/sidebar.ejs') %>
    <div class="cover">
        <form id="category-form" enctype="multipart/form-data">
            <div class="col">
                <label for="name">Category Name</label>
                <input type="text" id="name" name="name" style="width: 830px;" placeholder="Type here" data-validate="required">
            </div>
            <div class="col">
                <label for="description">Description</label>
                <textarea name="description" id="description" style="width: 830px; height: 95px;" placeholder="Type here" data-validate="required"></textarea>
            </div>
            <div class="col">
                <label for="offer">Offer</label>
                <select name="offer" id="offer" style="width: 830px;">
                    <option value="none">None</option>
                    <% offers.forEach((offer) => { %>
                        <% if (offer.type == "category") {  %>
                            <option value="<%= offer.name %>"><%= offer.name %></option>
                        <% } %>
                    <% }) %>
                </select>
                <span class="form-error" id="offer-error"></span>
            </div>
            <div class="col">
                <label for="image">Category Icon</label>
                <input type="file" id="image" name="image" style="width: 830px; background-color: var(--input-bg); padding: 10px 10px; border: 1px solid var(--light-grey);; border-radius: 6px;" accept="image/*" data-validate="required">
            </div>

            <div style="display: flex; flex-direction: row; gap: 10px; justify-content: center; margin-top: 60px;">
                <a href="/admin/categories" class="button-2">Cancel</a>
                <button class="button" id="submit-btn" type="submit">Create Category</button>
        </form>
    </div>
</div>
</div>
<%- include('../partials/admin/footer.ejs') %>