<%- include('../partials/admin/header.ejs') %>
<header>
    <%- include('../partials/admin/navbar.ejs') %>
</header>
<div class="row">
    <%- include('../partials/admin/sidebar.ejs') %>
    <div class="cover">
        <div class="cover-head">
            <h2>Brands</h2>
            <div class="row">
                <a href="/admin/add-brand" style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 10H18" stroke="#F5F5F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10 2V18" stroke="#F5F5F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span style="font-weight: 500;">Create Brand</span>                        
                </a>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Brand Name</th>
                    <th>Added</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="user-table">
                <% brands.forEach((brand) => { %>
                    <% let status = brand.status != false ? 'active' : 'blocked' %>
                    <tr>
                        <td style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
                            <img src="/images/<%= brand.image %>" style="width: 44px; height: 44px; border-radius: 6px;" alt="<%= brand.name %> logo">
                            <span><%= brand.name %></span>
                        </td>
                        <td><%= time.formatDate(brand.createdAt) %></td>
                        <td><span class="status-<%= status %>"><%= status %></span></td>
                        <td>
                            <button class="action-btn action-edit" onclick="edit_brand('<%= JSON.stringify(brand) %>')">Edit</button>
                            <button class="action-btn action-delete" onclick="delete_brand('<%= brand._id %>')">Delete</button>                               
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>

        <ul class="pagination">
            <!-- Previous Page -->
            <% if (currentPage > 1) { %>
                <li onclick="paginate('<%= currentPage - 1 %>')">&lt;</li>
            <% } else { %>
                <li><span>&lt;</span></li>
            <% } %>
        
            <!-- Page Numbers -->
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="<%= i === currentPage ? 'active' : '' %>" onclick="paginate('<%= i %>')">
                    <%= i %>
                </li>
            <% } %>
        
            <!-- Next Page -->
            <% if (currentPage < totalPages) { %>
                <li onclick="paginate('<%= currentPage + 1 %>')">&gt;</li>
            <% } else { %>
                <li><span>&gt;</span></li>
            <% } %>
        </ul>
    </div>
</div>
<%- include('../partials/admin/footer.ejs') %>