<%- include('../partials/admin/header.ejs') %>
<header>
    <%- include('../partials/admin/navbar.ejs') %>
</header>
<div class="row">
    <%- include('../partials/admin/sidebar.ejs') %>
    <div class="cover">
        <div class="cover-head">
            <h2>Coupons</h2>
            <div class="row">
                <a href="/admin/create-coupon" style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2 10H18" stroke="#F5F5F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10 2V18" stroke="#F5F5F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <span style="font-weight: 500;">Create Coupon</span>                        
                </a>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Coupon code</th>
                    <th>Discount</th>
                    <th>Min</th>
                    <th>Start</th>
                    <th>Expiry</th>
                    <th>Status</th>
                    <th>Created</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="user-table">
                <% coupons.forEach((coupon) => { %>
                    <tr>
                        <td><%= coupon.coupon_code %></td>
                        <td style="color: red;"><%= coupon.discount %>%</td>
                        <td><%= coupon.min_amount %></td>
                        <td><%= time.formatDate(coupon.activation) %></td>
                        <td><%= time.formatDate(coupon.expiry) %></td>
                        <td><span class="status-<%= coupon.status %>"><%= coupon.status == true ? 'Active': 'Inactive' %></span></td>
                        <td><%= time.formatDate(coupon.createdAt) %></td>
                        <td>
                            <div class="col" style="display: flex; flex-direction: row;">
                                <a class="action-btn action-edit" href="/admin/edit-coupon/<%= coupon._id %>">Edit</a>
                                <button class="action-btn action-delete" onclick="delete_coupon('<%= coupon._id %>')">Delete</button>
                            </div>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <ul class="pagination">
            <!-- Previous Page -->
            <% if (currentPage > 1) { %>
                <li onclick="paginate('<%= currentPage - 1 %>')">&lt;</li>
            <% } else { %>
                <li><span>&lt;</span></li>
            <% } %>
        
            <!-- Page Numbers -->
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="<%= i === currentPage ? 'active' : '' %>" onclick="paginate('<%= i %>')">
                    <%= i %>
                </li>
            <% } %>
        
            <!-- Next Page -->
            <% if (currentPage < totalPages) { %>
                <li onclick="paginate('<%= currentPage + 1 %>')">&gt;</li>
            <% } else { %>
                <li><span>&gt;</span></li>
            <% } %>
        </ul>
    </div>
</div>
<script>
    const delete_coupon = (id) => {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                fetch(`/admin/coupons/${id}`, {
                    method: 'DELETE',
                })
                   .then((response) => {
                        if (!response.ok) {
                            alert_error("An error has occurred");
                            return;
                        }
                        response.json().then((data) => {
                            alert_success(data.message);
                        })
                    })
                   .catch((error) => {
                        console.error('Error:', error);
                    });
            }
        });
    };
</script>
<%- include('../partials/admin/footer.ejs') %>