<%- include('../partials/admin/header.ejs') %>
<header>
    <%- include('../partials/admin/navbar.ejs') %>
</header>
<div class="row">
    <%- include('../partials/admin/sidebar.ejs') %>
    <div class="cover" style="gap: 20px;">
        <div class="cover-head" style="margin-bottom: 20px;">
            <h2>Order Details</h2>
        </div>

        <div class="row" style="align-items: center; gap: 80px;">
            <img src="/images/<%= order.image %>" alt="Order image" style="width: 100px; height: 100px; object-fit: cover;">
            <div class="col">
                <span><strong><%= order.name %></strong></span>
                <span><strong>Price : &#8377;<%= currency.parse_currency(order.price, 2) %> </strong></span>
                <span><strong>QTY : <%= order.quantity %></strong></span>
                <span class="row" style="align-items: center; gap: 10px;">
                    <strong><span>Color : </span></strong>
                    <span class="color-option" style="background-color: <%= order.color %>; width: 20px; height: 20px"></span>
                </span>
                <span>
                    <strong>Order Date : </strong>
                    <%= time.formatDate(order.createdAt) %>
                </span>
                <span>
                    <strong>Status : </strong>
                    <%= order.status.charAt(0).toUpperCase() + order.status.slice(1) %>
                </span>
            </div>
            <div class="col" style="gap: 20px;">
                <span>
                    <strong>Order ID : </strong>
                    <i>#<%= order._id %></i>
                </span>
                <span><strong>Set Order Status</strong></span>
                <select name="status" id="order-status" class="status-selection">
                    <option value="processing" <%= order.status == 'processing'? 'selected': '' %>>Processing</option>
                    <option value="shipped" <%= order.status == 'shipped'? 'selected': '' %>>Shipped</option>
                    <option value="delivered" <%= order.status == 'delivered'? 'selected': '' %>>Delivered</option>
                    <option value="cancelled" <%= order.status == 'cancelled'? 'selected': '' %>>Cancelled</option>
                </select>

                <button class="action-btn action-edit" style="padding: 10px 0;" onclick="set_status('<%= order._id %>')">Set Status</button>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <div class="col" style="gap: 20px;">
                <h1>User Details</h1>
                <p><strong>Name : </strong> <%= order.user_id.first_name + ' ' + order.user_id.last_name %></p>
                <p><strong>Email : </strong> <%= order.user_id.email %></p>
                <p><strong>Phone : </strong> <%= order.user_id.phone_number %></p>
                <p><strong>Address : </strong> <%= address.house_address %>,
                    <%= address.street_address %>,
                    <%= address.city %>
                    <%= address.state %>
                    <%= address.country %>,
                    ZIP CODE : <%= address.zip_code %></p>
            </div>
        </div>
    </div>
</div>
<script>
    const set_status = async (order_id) => {
        const status = document.getElementById('order-status').value;
        let data = {status};
        if (status == "cancelled") {
            const { value: reason } = await Swal.fire({
                input: "textarea",
                inputLabel: "Reason for cancellation",
                inputPlaceholder: "Type your reason here...",
                inputAttributes: {
                "aria-label": "Type your reason here"
                },
                showCancelButton: true
            });
            if (reason.trim() == "") {
                return alert_error("Please enter a reason")
            }
            data.reason = reason;
        }
        const req = await fetch(`/admin/order/${order_id}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams(data),
        });
        if (!req.ok) return alert_error("An error has occurred. Please try again.");
        const res = await req.json();
        if (res.success) {
            alert_success(res.message);
        } else {
            alert_error(res.message);
        }
    };
</script>
<%- include('../partials/admin/footer.ejs') %>