<%- include('../partials/admin/header.ejs') %>
<header>
    <%- include('../partials/admin/navbar.ejs') %>
</header>
<div class="row">
    <%- include('../partials/admin/sidebar.ejs') %>
    <div class="cover">
        <div class="cover-head">
            <h2>Returns</h2>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Customer</th>
                    <th>Reason</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="user-table">
                <% returns.forEach((return_item) => { %>
                    <% if (return_item.order_id) { %>
                        <tr>
                            <td style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
                                <img src="/images/<%= return_item.order_id.image %>" style="width: 44px; height: 44px; border-radius: 6px;" alt="<%= return_item.order_id.name %> logo">
                                <span><%= return_item.order_id.name %></span>
                            </td>
                            <td><%= return_item.user_id.first_name + ' ' + return_item.user_id.last_name %></td>
                            <td><%= return_item.reason %></td>
                            <% if (return_item.status == 'pending') { %>
                                <td>
                                    <button class="action-btn action-edit" onclick="accept_return('<%= return_item._id %>')">Accept</button>
                                    <button class="action-btn action-delete" onclick="reject_return('<%= return_item._id %>')">Reject</button> 
                                </td>
                            <% } else if (return_item.status == 'accepted') { %>
                                <td>Returned</td>
                            <% } else { %>
                                <td>Rejected</td>
                            <% } %>
                        </tr>
                    <% } %>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
<script>
    const accept_return = async (return_id) => {
        const req = await fetch("/admin/update-return", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: new URLSearchParams({return_id, status: 'accepted'}),
        })
        if (!req.ok) return alert_error("An error has occurred. Please try again.");
        const res = await req.json();
        if (res.success) {
            alert_success(res.message);
        } else {
            alert_error(res.message);
        }
    };

    const reject_return = async (return_id) => {
        const { value: text } = await Swal.fire({
            input: "textarea",
            inputLabel: "Reason for rejection",
            inputPlaceholder: "Type your reason here...",
            inputAttributes: {
            "aria-label": "Type your reason here"
            },
            showCancelButton: true
        });

        if (text && text.trim().length > 0) {
            const req = await fetch("/admin/update-return", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({return_id, status:'rejected', rejection_reason: text}),
            })
            if (!req.ok) return alert_error("An error has occurred. Please try again.");
            const res = await req.json();
            if (res.success) {
                alert_success(res.message);
            } else {
                alert_error(res.message);
            }
        }
    };
</script>
<%- include('../partials/admin/footer.ejs') %>