<%- include('../partials/user/header.ejs') %>
<header>
    <%- include('../partials/user/navbar.ejs') %>
</header>
<div class="account-page">
    <%- include('../partials/user/sidebar.ejs') %>
    <div class="cart-page" style="width: 100%;">
        <!-- Left Section: Cart Items -->
        <% if (carts && carts.length > 0) { %> 
            <div class="cart-items">
                <h2>Your Cart</h2>
                <% carts.forEach((cart) => { %>
                    <div class="cart-item">
                        <div class="cart-row">
                            <img src="/images/<%= cart.image %>" alt="Images">
                            <div class="cart-details">
                                <span class="cart-item-name"><%= cart.name %></span>
                                <div class="cart-row">
                                    <span>Color:</span>
                                    <span class="color" style="background-color: <%= cart.color %>;"></span>
                                    <span>-</span>
                                    <span>Variant : <%= cart.variant %></span>
                                </div>
                            </div>
                            <span>&#8377;<%= cart.price %></span>
                            <div class="quantity-selector" style="margin: 0;">
                                QTY: <%= cart.quantity %>
                            </div>
                            <button class="remove-btn" onclick="remove_from_cart('<%= cart._id %>')">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15 5L5 15" stroke="#5C5F6A" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M5 5L15 15" stroke="#5C5F6A" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                <% }); %>
            </div>
        
            <!-- Right Section: Order Summary -->
            <div class="order-summary">
                <h2>Order Summary</h2>
                <div class="summary-row">
                    <span><strong>Subtotal:</strong></span>
                    <span>&#8377;<%= total_price %>.00</span>
                </div>
                <div class="summary-row">
                    <span><strong>Shipping:</strong></span>
                    <span>Free</span>
                </div>
                <div class="summary-row">
                    <span><strong>Tax:</strong></span>
                    <span>&#8377;3.00</span>
                </div>
                <div class="summary-row total">
                    <span><strong>Total:</strong></span>
                    <span>&#8377;<%= total_price + 3 %>.00</span>
                </div>
                <a href="/user/checkout" class="save-btn">Checkout</button>
                <a href="/products" class="continue-shopping" style="text-align: center;">Continue Shopping</a>
            </div>
        <% } else { %>
            <span class="no-address" style="display: flex; flex-direction: row; align-items: center; justify-content: center; width: 100%; min-height: 20vh; font-size: 40px;">
                <svg width="80" height="80" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.913086 0.739136H4.29629L5.50161 12.7161C5.55171 13.0462 5.71952 13.3472 5.97411 13.5634C6.2287 13.7797 6.55292 13.8968 6.88704 13.893H15.6152C15.9173 13.9087 16.2163 13.8252 16.4665 13.6552C16.7166 13.4852 16.9042 13.238 17.0006 12.9514L18.8432 7.41298C18.9121 7.20477 18.9304 6.9832 18.8966 6.76653C18.8629 6.54986 18.7781 6.34431 18.6493 6.16683C18.5152 5.97808 18.3358 5.82595 18.1277 5.72435C17.9195 5.62276 17.6892 5.57495 17.4578 5.58529H4.78119" stroke="#5C5F6A" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M15.3797 18.7391C15.196 18.7391 15.0198 18.6662 14.8899 18.5364C14.76 18.4065 14.687 18.2304 14.687 18.0468C14.687 17.8632 14.76 17.6871 14.8899 17.5573C15.0198 17.4275 15.196 17.3545 15.3797 17.3545C15.5634 17.3545 15.7396 17.4275 15.8695 17.5573C15.9995 17.6871 16.0724 17.8632 16.0724 18.0468C16.0724 18.2304 15.9995 18.4065 15.8695 18.5364C15.7396 18.6662 15.5634 18.7391 15.3797 18.7391Z" fill="#5C5F6A" stroke="#5C5F6A" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6.37447 18.7391C6.19076 18.7391 6.01456 18.6662 5.88465 18.5364C5.75474 18.4065 5.68176 18.2304 5.68176 18.0468C5.68176 17.8632 5.75474 17.6871 5.88465 17.5573C6.01456 17.4275 6.19076 17.3545 6.37447 17.3545C6.55819 17.3545 6.73439 17.4275 6.8643 17.5573C6.99421 17.6871 7.06719 17.8632 7.06719 18.0468C7.06719 18.2304 6.99421 18.4065 6.8643 18.5364C6.73439 18.6662 6.55819 18.7391 6.37447 18.7391Z" fill="#5C5F6A" stroke="#5C5F6A" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.47498 8.35452V11.1238" stroke="#5C5F6A" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M13.6312 8.35452V11.1238" stroke="#5C5F6A" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                &nbsp;&nbsp;&nbsp;
                Cart Empty
            </span>
        <% } %>
    </div>
</div>
<%- include('../partials/user/footer.ejs') %>