<%- include('../partials/user/header.ejs') %>
<header>
    <%- include('../partials/user/navbar.ejs') %>
</header>

<div class="account-page">
    <%- include('../partials/user/sidebar.ejs') %>
    <main class="main-content">
        <h3 style="margin-bottom: 20px;">Orders</h3>
        <% if (orders && orders.length > 0)  { %>
          <div class="order-list">
            <% orders.forEach((order, index) => { %>
            <div class="order-item">
              <img src="/images/<%= order.image %>" alt="Product Image <%= index %>" class="product-image">
              <a href="/user/order-summary/<%= order.payment %>" class="order-details">
                <p><strong><%= order.name %></strong></p>
                <p>Ordered On: <%= time.formatDate(order.createdAt) %></p>
                <p>QTY: <%= order.quantity %></p>
                <p>&#8377;<%= currency.parse_currency(order.price, 0) %></p>
                <% if (returns && returns.length > 0) { %>
                  <% returns.forEach((ret) => { %>
                    <% if (ret.order_id.toString() == order._id.toString()) { %>
                      <div>
                        <span>Return Status : </span>
                        <span class="status <%= ret.status %>" style="max-width: 200px;"><%= ret.status.charAt(0).toUpperCase() + ret.status.slice(1) %></span>
                      </div>
                      <%- ret.rejection_reason? `<span>Reason : ${ret.rejection_reason}</span>`: '' %>
                    <% } %>
                  <% }) %>
                <% } %>
              </a>
              <div class="order-status">
                <span class="status <%= order.status %>"><%= order.status.charAt(0).toUpperCase() + order.status.slice(1) %></span>
              </div>
              <div class="order-actions">
                <a href="/product/<%= order.product_id %>" class="btn view-item">View Item</a>
                <% if (order.status == "processing") { %>
                  <button class="btn cancel" onclick="cancel_order('<%= order._id %>')">Cancel</button>
                <% } else if (order.status == "cancelled") { %>
                  <span class="btn cancel">Cancelled</span>
                <% } else if (order.status == "returned") { %>
                  <span class="btn return">Returned</span>
                <% } else { %>
                  <button class="btn return" onclick="return_order('<%= order._id %>')">Return</button>
                <% } %>
              </div>
            </div>
          <% }); %>
          </div>
        <% } else { %>
          <p>No orders found.</p>
        <% } %>

        <% if (totalPages > 1) { %>
          <ul class="pagination">
              <!-- Previous Page -->
              <% if (currentPage > 1) { %>
                  <li onclick="paginate('<%= currentPage - 1 %>')">&lt;</li>
              <% } else { %>
                  <li><span>&lt;</span></li>
              <% } %>
      
              <!-- Page Numbers -->
              <% for (let i = 1; i <= totalPages; i++) { %>
                  <li class="<%= i === currentPage ? 'active' : '' %>" onclick="paginate('<%= i %>')">
                      <%= i %>
                  </li>
              <% } %>
      
              <!-- Next Page -->
              <% if (currentPage < totalPages) { %>
                  <li onclick="paginate('<%= currentPage + 1 %>')">&gt;</li>
              <% } else { %>
                  <li><span>&gt;</span></li>
              <% } %>
          </ul>
      <% } %>
    </main>
</div>
<script>
  const cancel_order = async (order_id) => {
    const { value: text } = await Swal.fire({
        input: "textarea",
        inputLabel: "Reason for cancellation",
        inputPlaceholder: "Type your reason here...",
        inputAttributes: {
          "aria-label": "Type your reason here"
        },
        showCancelButton: true
    });

    if (text && text.trim().length > 0) {
      const req = await fetch(`/user/cancel-order`, {
          method: 'PATCH',
          body: new URLSearchParams({
            order_id: order_id,
            reason: text
          })
      });
      if (!req.ok) {
          alert_error("An error occured. Try again");
          return;
      }

      const res = await req.json();
      if (res.success) {
          alert_success(res.message);
      } else {
          alert_error(res.message);
      }
    }
  };

  const return_order = async (order_id) => {
    const { value: text } = await Swal.fire({
        input: "textarea",
        inputLabel: "Reason for return",
        inputPlaceholder: "Type your reason here...",
        inputAttributes: {
          "aria-label": "Type your reason here"
        },
        showCancelButton: true
    });

    if (text && text.trim().length > 0) {
      const req = await fetch(`/user/return-order`, {
          method: 'POST',
          body: new URLSearchParams({
            order_id: order_id,
            reason: text
          })
      });
      if (!req.ok) {
          alert_error("An error occured. Try again");
          return;
      }
      const res = await req.json();
      if (res.success) {
          alert_success(res.message);
      } else {
          alert_error(res.message);
      }
    };
  };
</script>
<%- include('../partials/user/footer.ejs') %>