<%- include('../partials/user/header.ejs') %>
<header>
    <%- include('../partials/user/navbar.ejs') %>
</header>
<div class="product-page">
    <div class="page-name">
        <a href="/" class="base-page">Home</a>
        <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.81168 5.46731C6.06095 5.74435 6.06303 6.19578 5.81633 6.47571L0.948585 12L0.0460425 10.9967L4.46723 5.97935L0 1.01366L0.89321 0L5.81168 5.46731Z" fill="#71747E"/>
        </svg>
        <a href="/products" class="base-page">Products</a>
        <svg width="6" height="12" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.81168 5.46731C6.06095 5.74435 6.06303 6.19578 5.81633 6.47571L0.948585 12L0.0460425 10.9967L4.46723 5.97935L0 1.01366L0.89321 0L5.81168 5.46731Z" fill="#71747E"/>
        </svg>
        <p class="current"><%= title %></p>    
    </div>
    <section class="product-section">
        <div class="product-viewer">
            <!-- Slideshow Container -->
            <div class="slideshow-container">
                <% product.images.forEach((image, index) => { %>
                    <div class="slides fade">
                        <div class="zoom-wrapper">
                            <img src="/images/<%= image %>" style="width:100%" alt="Image <%= index %>">
                        </div>
                    </div>
                <% }) %>
    
                <div style="text-align:center">
                    <% product.images.forEach((image, index) => { %>
                        <span class="dot" onclick="currentSlide('<%= index %>')"></span>
                    <% }) %>
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>
    
        <div class="product-details">
            <div class="p-row">
                <h1><%= product.title %></h1>
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.96889 13.859L15.04 17.441M15.0311 7.559L8.96889 11.141M20 6.2C20 7.69117 18.8061 8.9 17.3333 8.9C15.8606 8.9 14.6667 7.69117 14.6667 6.2C14.6667 4.70883 15.8606 3.5 17.3333 3.5C18.8061 3.5 20 4.70883 20 6.2ZM9.33333 12.5C9.33333 13.9912 8.13943 15.2 6.66667 15.2C5.19391 15.2 4 13.9912 4 12.5C4 11.0088 5.19391 9.8 6.66667 9.8C8.13943 9.8 9.33333 11.0088 9.33333 12.5ZM20 18.8C20 20.2912 18.8061 21.5 17.3333 21.5C15.8606 21.5 14.6667 20.2912 14.6667 18.8C14.6667 17.3088 15.8606 16.1 17.3333 16.1C18.8061 16.1 20 17.3088 20 18.8Z" stroke="#5C5F6A" stroke-width="1.43" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>    
            </div>

            <div class="p-row-half">
                <span class="rating-element">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 4.5L14.472 9.43691L20 10.2334L16 14.0741L16.944 19.5L12 16.9369L7.056 19.5L8 14.0741L4 10.2334L9.528 9.43691L12 4.5Z" fill="#5C5F6A"/>
                    </svg>
                    <span>0 - 0 reviews</span>   
                </span>

                <% if (!product.stock) { %>
                    <span class="stock-element" style="color: var(--red); border: 1px solid var(--red);">OUT OF STOCK</span>
                <% } else { %>
                    <% product.variants.forEach((variant, index) => { %>
                        <% if (index == 0) { %>
                            <% if (variant.quantity > 0) { %>
                                <span id="stock-<%= variant.name %>" class="stock-element">IN STOCK</span>
                            <% } else { %>
                                <span id="stock-<%= variant.name %>" class="stock-element" style="color: var(--red); border: 1px solid var(--red);">OUT OF STOCK</span>
                            <% } %>
                        <% } else { %>
                            <% if (variant.quantity > 0) { %>
                                <span id="stock-<%= variant.name %>" class="stock-element" style="display: none;">IN STOCK</span>
                            <% } else { %>
                                <span id="stock-<%= variant.name %>" class="stock-element" style="color: var(--red); border: 1px solid var(--red); display: none;">OUT OF STOCK</span>
                            <% } %>
                        <% } %>
                    <% }); %>
                <% } %>
            </div>

            <% let discount = null; %>
            <% offers.forEach((offer) => { %>
                <% if (offer.name == product.offer) { %>
                    <% discount = offer.discount %>
                <% } %>
            <%}); %>
            <% if (discount != null && discount != "none") { %>
                <span style="font-size: 12px; margin-bottom: 20px;">Discount : <%= discount %>%</span>
                <% product.variants.forEach((variant, index) => { %>
                    <% let discount_price =  variant.price - Math.ceil(variant.price * discount /100) %>
                    <% if (index == 0) { %>
                        <span class="price" style="font-size: 16px; font-weight: 600; margin-bottom: 10px;" id="price-<%= variant.name %>">Discount Price : $<%= discount_price %></span> 
                    <% } else { %>
                        <span class="price" style="font-size: 16px; font-weight: 600; margin-bottom: 10px; display: none;" id="price-<%= variant.name %>">Discount Price : $<%= discount_price %></span> 
                    <% } %>
                <% }); %>
            <% } %>

            <% product.variants.forEach((variant, index) => { %>
                <% if (index == 0) { %>
                    <span class="price <%- (discount != null && discount != 'none') ? 'strike': '' %>" style="font-size: 16px; font-weight: 600; margin-bottom: 10px;" id="price-<%= variant.name %>">Price : $<%= variant.price %></span>
                <% } else { %>
                    <span class="price <%- (discount != null && discount != 'none') ? 'strike': '' %>" style="font-size: 16px; font-weight: 600; margin-bottom: 10px; display: none;" id="price-<%= variant.name %>">Price : $<%= variant.price %></span> 
                <% } %>
            <% }); %>

            <span class="product-heading">Available Colors</span>
            <div class="colors" style="margin-bottom: 10px;">
                <% product.colors.forEach((color) => { %>
                    <div 
                      class="color-option" 
                      style="background-color: <%= color %>;" 
                      title="<%= color %>" 
                      data-color="<%= color %>"
                    ></div>
                  <% }); %>
                  
                <input type="hidden" name="colors" id="colors">
            </div>


            <span class="product-heading">Select Variants</span>
            <div class="variants">
                <input type="hidden" id="variants" name="variants" value="">
                <% product.variants.forEach((variant) => { %>
                    <div class="variant-option" title="<%= variant.name %>" onclick="variantSelector('<%= variant.name %>')"><%= variant.name %></div>
                <% }); %>
            </div>


            <span class="product-heading">Quantity</span>
            <div class="quantity-selector">
                <div class="quantity-controls">
                  <button class="minus" aria-label="Decrease quantity">−</button>
                  <input type="number" id="quantity" value="1" min="1" max="99">
                  <button class="plus" aria-label="Increase quantity">+</button>
                </div>
            </div>

            <div class="cart-section">
                <button class="add-to-cart">Add to cart</button>
                <button class="wishlist">
                <svg  class="heart-icon" width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.50482 15.5L2.291 9.05129C-1.62955 5.18258 4.13333 -2.24663 9.50482 3.76384C14.8763 -2.24663 20.6141 5.20729 16.72 9.05129L9.50482 15.5Z" stroke="#5C5F6A" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                </button>
              </div>
              <p class="free-shipping">— FREE SHIPPING ON ORDERS $100+</p>
        </div>
    </section>


    <section class="product-extras">
        <div class="product-side-menu">
            <ul>
                <li id="details-menu" class="side-list selected" onclick="sectionSelector('details')">
                    <svg width="16" height="3" viewBox="0 0 16 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.14272 2.07145C1.82713 2.07145 1.57129 1.81561 1.57129 1.50002C1.57129 1.18443 1.82713 0.928589 2.14272 0.928589" stroke="#0E1422" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M2.14272 2.07145C2.45831 2.07145 2.71415 1.81561 2.71415 1.50002C2.71415 1.18443 2.45831 0.928589 2.14272 0.928589" stroke="#0E1422" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.99986 2.07145C7.68427 2.07145 7.42843 1.81561 7.42843 1.50002C7.42843 1.18443 7.68427 0.928589 7.99986 0.928589" stroke="#0E1422" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M7.99986 2.07145C8.31545 2.07145 8.57129 1.81561 8.57129 1.50002C8.57129 1.18443 8.31545 0.928589 7.99986 0.928589" stroke="#0E1422" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.857 2.07145C13.5414 2.07145 13.2855 1.81561 13.2855 1.50002C13.2855 1.18443 13.5414 0.928589 13.857 0.928589" stroke="#0E1422" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M13.857 2.07145C14.1726 2.07145 14.4284 1.81561 14.4284 1.50002C14.4284 1.18443 14.1726 0.928589 13.857 0.928589" stroke="#0E1422" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                    <span>Details</span>
                    </li>
                <li id="reviews-menu" class="side-list" onclick="sectionSelector('reviews')">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 6L14.163 10.2787L19 10.969L15.5 14.2976L16.326 19L12 16.7787L7.674 19L8.5 14.2976L5 10.969L9.837 10.2787L12 6Z" stroke="#5C5F6A" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                           
                    <span>Reviews</span>
                </li>
            </ul>
        </div>
        <div id="details" class="product-menu-details">
            <div class="details-section">
                <h1>Details</h1>
                <span class="details"><%= product.description %></span>
            </div>
        </div>

        <div id="reviews" class="reviews-container" style="display: none;">
            <div class="rating-summary">
              <h1>4.2</h1>
              <p>54 Reviews</p>
              <a href="#" class="review-btn">Write a Review</a>
            </div>
        
            <div class="review-item">
              <div class="review-header">
                <div class="review-avatar">ED</div>
                <div>
                  <span class="review-name">Emily Davis</span>
                  <span class="review-time">1 week ago</span>
                </div>
              </div>
              <p class="review-text">This company always goes above and beyond to satisfy their customers.</p>
              <div class="stars">★★★★☆</div>
            </div>
        
            <div class="review-item">
              <div class="review-header">
                <div class="review-avatar">DS</div>
                <div>
                  <span class="review-name">Daniel Smith</span>
                  <span class="review-time">2 months ago</span>
                </div>
              </div>
              <p class="review-text">I can't believe how affordable and high-quality this item is!</p>
              <div class="stars">★★★★☆</div>
            </div>
        
            <div class="review-item">
              <div class="review-header">
                <div class="review-avatar">BC</div>
                <div>
                  <span class="review-name">Benjamin Clark</span>
                  <span class="review-time">23 April</span>
                </div>
              </div>
              <p class="review-text">These guys know their stuff, and it shows in their products.</p>
              <div class="stars">★★★★☆</div>
            </div>
        
            <div class="load-more">
              <button class="review-btn">Load More Reviews</button>
            </div>
    </section>

    <div class="product-card-section">
        <% if (similar_products.length > 0 && JSON.stringify(similar_products[0]) !== '{}') { %>
        <h2 class="section-title">Similar Products</h2>
        <div class="product-cards">
            <% similar_products.forEach((similar) => { %>
                <a class="product-card" href="/products/<%= similar._id %>">
                    <img src="/images/<%= similar.images[0] %>" alt="<%= similar.title %> Image" class="product-image" />
                    <h3 class="product-name"><%= similar.title %></h3>
                    <p class="product-price">$<%= similar.variants[0].price %></p>
                    <button class="add-to-cart">Add to Cart</button>
                </a>
                <% }) %>
        </div>
        <% } %>
    </div>
</div>
<script type="text/javascript" src="/js/carousal.js"></script>
<script>
    const minusButton = document.querySelector('.minus');
    const plusButton = document.querySelector('.plus');
    const quantityInput = document.getElementById('quantity');
    const prices = document.querySelectorAll('.price');
    const stocks = document.querySelectorAll('.stock-element');

    const min = parseInt(quantityInput.min);
    const max = parseInt(quantityInput.max);

    minusButton.addEventListener('click', () => {
      let currentValue = parseInt(quantityInput.value);
      if (currentValue > min) {
        quantityInput.value = --currentValue;
      }
      updateButtons(currentValue);
    });

    plusButton.addEventListener('click', () => {
      let currentValue = parseInt(quantityInput.value);
      if (currentValue < max) {
        quantityInput.value = ++currentValue;
      }
      updateButtons(currentValue);
    });

    function updateButtons(value) {
      minusButton.disabled = value <= min;
      plusButton.disabled = value >= max;
    }

    updateButtons(parseInt(quantityInput.value));

    function variantSelector(variant) {
        prices.forEach((price) => {
            if (price.id == `price-${variant}`) {
                price.style.display = "flex"
            } else {
                price.style.display = "none"
            }
        })

        stocks.forEach((stock) => {
            if (stock.id == `stock-${variant}`) {
                stock.style.display = "flex"
            } else {
                stock.style.display = "none"
            }
        })
    }

    function sectionSelector(section) {
        let details = document.getElementById("details");
        let reviews = document.getElementById("reviews");
        let detailsMenu = document.getElementById("details-menu");
        let reviewsMenu = document.getElementById("reviews-menu");

        if (section == "details") {
            details.style.display = "flex";
            detailsMenu.classList.add("selected");
            reviews.style.display = "none";
            reviewsMenu.classList.remove("selected");
        } else if (section == "reviews") {
            details.style.display = "none";
            detailsMenu.classList.remove("selected");
            reviews.style.display = "block";
            reviewsMenu.classList.add("selected");
        }
    }

</script>
<%- include('../partials/user/footer.ejs') %>