<div class="sidebar">
    <ul>
        <li class="<%- title == 'Dashboard'? 'active': '' %>">
            <a href="/admin/dashboard">
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.9231 7.92308H11.3077C10.9891 7.92308 10.7308 8.18138 10.7308 8.5V15.4231C10.7308 15.7417 10.9891 16 11.3077 16H15.9231C16.2417 16 16.5 15.7417 16.5 15.4231V8.5C16.5 8.18138 16.2417 7.92308 15.9231 7.92308Z" stroke="#0E1422" stroke-width="1.43" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M15.9231 1H11.3077C10.9891 1 10.7308 1.2583 10.7308 1.57692V3.89615C10.7308 4.21478 10.9891 4.47308 11.3077 4.47308H15.9231C16.2417 4.47308 16.5 4.21478 16.5 3.89615V1.57692C16.5 1.2583 16.2417 1 15.9231 1Z" stroke="#0E1422" stroke-width="1.43" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.69231 1H2.07692C1.7583 1 1.5 1.2583 1.5 1.57692V8.5C1.5 8.81862 1.7583 9.07692 2.07692 9.07692H6.69231C7.01093 9.07692 7.26923 8.81862 7.26923 8.5V1.57692C7.26923 1.2583 7.01093 1 6.69231 1Z" stroke="#0E1422" stroke-width="1.43" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6.69231 12.5269H2.07692C1.7583 12.5269 1.5 12.7852 1.5 13.1038V15.4231C1.5 15.7417 1.7583 16 2.07692 16H6.69231C7.01093 16 7.26923 15.7417 7.26923 15.4231V13.1038C7.26923 12.7852 7.01093 12.5269 6.69231 12.5269Z" stroke="#0E1422" stroke-width="1.43" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                                                             
                <span class="<%- title == 'Dashboard'? 'active': '' %>">Dashboard</span>    
            </a>
        </li>

        <li class="<%- title == 'Products'? 'active': '' %>">
            <a href="/admin/products">
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.23077 6.16667H15.7692M2.23077 6.16667V14.3333C2.23077 14.6427 2.36044 14.9395 2.59125 15.1583C2.82207 15.377 3.13511 15.5 3.46154 15.5H14.5385C14.8649 15.5 15.178 15.377 15.4087 15.1583C15.6395 14.9395 15.7692 14.6427 15.7692 14.3333V6.16667M2.23077 6.16667C1.55103 6.16667 1 5.64433 1 5V2.66667C1 2.02234 1.55103 1.5 2.23077 1.5H15.7692C16.449 1.5 17 2.02234 17 2.66667V5C17 5.64433 16.449 6.16667 15.7692 6.16667M7.15385 9.66667H10.8462" stroke="#5C5F6A" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                                                              
                <span class="<%- title == 'Products'? 'active': '' %>">Products</span>    
            </a>
        </li>

        <li class="<%- title == 'Categories'? 'active': '' %>">
            <a href="/admin/categories">
                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 1.5L1 6.5L11 11.5L21 6.5L11 1.5Z" stroke="#8B8E99" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1 16.5L11 21.5L21 16.5" stroke="#8B8E99" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M1 11.5L11 16.5L21 11.5" stroke="#8B8E99" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                                                                                  
                <span class="<%- title == 'Categories'? 'active': '' %>">Categories</span>    
            </a>
        </li>

        <li class="<%- title == 'Orders'? 'active': '' %>">
            <a href="/admin/orders">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1.5H4.38321L5.58853 13.4769C5.63862 13.8071 5.80643 14.108 6.06102 14.3243C6.31561 14.5406 6.63984 14.6576 6.97395 14.6538H15.7021C16.0042 14.6696 16.3032 14.5861 16.5534 14.4161C16.8035 14.2461 16.9912 13.9989 17.0875 13.7123L18.9302 8.17385C18.999 7.96564 19.0173 7.74406 18.9836 7.52739C18.9498 7.31072 18.865 7.10517 18.7362 6.92769C18.6021 6.73894 18.4227 6.58681 18.2146 6.48522C18.0065 6.38362 17.7761 6.33581 17.5447 6.34615H4.8681M9.56192 9.11538V11.8846M13.7182 9.11538V11.8846M15.4666 19.5C15.2829 19.5 15.1067 19.4271 14.9768 19.2972C14.8469 19.1674 14.7739 18.9913 14.7739 18.8077C14.7739 18.6241 14.8469 18.448 14.9768 18.3182C15.1067 18.1883 15.2829 18.1154 15.4666 18.1154C15.6503 18.1154 15.8265 18.1883 15.9564 18.3182C16.0863 18.448 16.1593 18.6241 16.1593 18.8077C16.1593 18.9913 16.0863 19.1674 15.9564 19.2972C15.8265 19.4271 15.6503 19.5 15.4666 19.5ZM6.46134 19.5C6.27762 19.5 6.10143 19.4271 5.97152 19.2972C5.84161 19.1674 5.76863 18.9913 5.76863 18.8077C5.76863 18.6241 5.84161 18.448 5.97152 18.3182C6.10143 18.1883 6.27762 18.1154 6.46134 18.1154C6.64506 18.1154 6.82126 18.1883 6.95116 18.3182C7.08107 18.448 7.15406 18.6241 7.15406 18.8077C7.15406 18.9913 7.08107 19.1674 6.95116 19.2972C6.82126 19.4271 6.64506 19.5 6.46134 19.5Z" stroke="#5C5F6A" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                                                                                                     
                <span class="<%- title == 'Orders'? 'active': '' %>">Orders</span>    
            </a>
        </li>

        <li class="<%- title == 'Brands'? 'active': '' %>">
            <a href="/admin/brands">
                <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.79982 8.4C3.52982 7.81 2.79982 7.2 2.79982 6.25C2.79982 5.16 3.80982 4.4 5.49982 4.4C7.27982 4.4 7.93982 5.25 7.99982 6.5H10.2098C10.1398 4.78 9.08982 3.2 6.99982 2.69V0.5H3.99982V2.66C2.05982 3.08 0.499824 4.34 0.499824 6.27C0.499824 8.58 2.40982 9.73 5.19982 10.4C7.69982 11 8.19982 11.88 8.19982 12.81C8.19982 13.5 7.70982 14.6 5.49982 14.6C3.43982 14.6 2.62982 13.68 2.51982 12.5H0.319824C0.439824 14.69 2.07982 15.92 3.99982 16.33V18.5H6.99982V16.35C8.94982 15.98 10.4998 14.85 10.4998 12.8C10.4998 9.96 8.06982 8.99 5.79982 8.4Z" fill="#5C5F6A"/>
                </svg>                                                                                
                <span class="<%- title == 'Brands'? 'active': '' %>">Brands</span>    
            </a>
        </li>

        <li class="<%- title == 'Customers'? 'active': '' %>">
            <a href="/admin/customers">
                <svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.7692 8.16661C14.681 8.16661 16.2308 6.67424 16.2308 4.83331C16.2308 2.99237 14.681 1.5 12.7692 1.5M16.2308 17.5H19V16.7771C18.9889 15.7608 18.7106 14.7638 18.191 13.8792C17.6713 12.9946 16.9274 12.2513 16.0285 11.7186C15.4475 11.3743 14.8139 11.1253 14.1538 10.9793M7.23077 8.16661C9.14252 8.16661 10.6923 6.67424 10.6923 4.83331C10.6923 2.99237 9.14252 1.5 7.23077 1.5C5.31902 1.5 3.76923 2.99237 3.76923 4.83331C3.76923 6.67424 5.31902 8.16661 7.23077 8.16661ZM1 17.4999H13.4615V16.7771C13.4505 15.7608 13.1722 14.7638 12.6526 13.8792C12.1329 12.9946 11.3889 12.2512 10.4901 11.7186C9.59119 11.1859 8.5668 10.8814 7.51257 10.8333C7.41858 10.829 7.32462 10.8268 7.23077 10.8266C7.13692 10.8268 7.04296 10.829 6.94897 10.8333C5.89474 10.8814 4.87035 11.1859 3.97148 11.7186C3.07263 12.2512 2.32864 12.9946 1.80899 13.8792C1.28935 14.7638 1.01102 15.7608 1 16.7771V17.4999Z" stroke="#5C5F6A" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                                                                                 
                <span class="<%- title == 'Customers'? 'active': '' %>">Customers</span>    
            </a>
        </li>

        <li class="<%- title == 'Offers'? 'active': '' %>">
            <a href="/admin/offers">
                <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.3984 13.4061L12.9166 20.8879C12.7228 21.082 12.4926 21.2359 12.2392 21.3409C11.9859 21.4459 11.7143 21.5 11.4401 21.5C11.1658 21.5 10.8942 21.4459 10.6409 21.3409C10.3875 21.2359 10.1573 21.082 9.96352 20.8879L1 11.9348V1.5H11.4348L20.3984 10.4635C20.7871 10.8545 21.0052 11.3835 21.0052 11.9348C21.0052 12.4862 20.7871 13.0151 20.3984 13.4061Z" stroke="#5C5F6A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                                                                                 
                <span class="<%- title == 'Offers'? 'active': '' %>">Offers</span>    
            </a>
        </li>

        <li class="<%- title == 'Coupons'? 'active': '' %>">
            <a href="/admin/coupons">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.2857 9.1C19.4752 9.1 19.6568 9.02625 19.7908 8.89497C19.9247 8.7637 20 8.58565 20 8.4V4.9C20 4.5287 19.8495 4.1726 19.5816 3.91005C19.3137 3.6475 18.9503 3.5 18.5714 3.5H1.42857C1.04969 3.5 0.686328 3.6475 0.418419 3.91005C0.15051 4.1726 0 4.5287 0 4.9V8.4C0 8.58565 0.0752549 8.7637 0.209209 8.89497C0.343164 9.02625 0.524845 9.1 0.714286 9.1C1.09317 9.1 1.45653 9.2475 1.72444 9.51005C1.99235 9.7726 2.14286 10.1287 2.14286 10.5C2.14286 10.8713 1.99235 11.2274 1.72444 11.4899C1.45653 11.7525 1.09317 11.9 0.714286 11.9C0.524845 11.9 0.343164 11.9737 0.209209 12.105C0.0752549 12.2363 0 12.4143 0 12.6V16.1C0 16.4713 0.15051 16.8274 0.418419 17.0899C0.686328 17.3525 1.04969 17.5 1.42857 17.5H18.5714C18.9503 17.5 19.3137 17.3525 19.5816 17.0899C19.8495 16.8274 20 16.4713 20 16.1V12.6C20 12.4143 19.9247 12.2363 19.7908 12.105C19.6568 11.9737 19.4752 11.9 19.2857 11.9C18.9068 11.9 18.5435 11.7525 18.2756 11.4899C18.0077 11.2274 17.8571 10.8713 17.8571 10.5C17.8571 10.1287 18.0077 9.7726 18.2756 9.51005C18.5435 9.2475 18.9068 9.1 19.2857 9.1ZM18.5714 13.209V16.1H13.5714V14H12.1429V16.1H1.42857V13.209C2.04 13.0524 2.58119 12.7015 2.96745 12.2114C3.3537 11.7212 3.56323 11.1193 3.56323 10.5C3.56323 9.88067 3.3537 9.27882 2.96745 8.78864C2.58119 8.29846 2.04 7.94761 1.42857 7.791V4.9H12.1429V7H13.5714V4.9H18.5714V7.791C17.96 7.94761 17.4188 8.29846 17.0326 8.78864C16.6463 9.27882 16.4368 9.88067 16.4368 10.5C16.4368 11.1193 16.6463 11.7212 17.0326 12.2114C17.4188 12.7015 17.96 13.0524 18.5714 13.209Z" fill="#8B8E99"/>
                    <path d="M12 8.5H14V12.5H12V8.5Z" fill="#8B8E99"/>
                </svg>                                                                                                     
                <span class="<%- title == 'Coupons'? 'active': '' %>">Coupons</span>    
            </a>
        </li>

        <li class="<%- title == 'Reviews'? 'active': '' %>">
            <a href="/admin/reviews">
                <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8 1L10.163 5.27865L15 5.96898L11.5 9.29758L12.326 14L8 11.7787L3.674 14L4.5 9.29758L1 5.96898L5.837 5.27865L8 1Z" stroke="#5C5F6A" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                                                                                                    
                <span class="<%- title == 'Reviews'? 'active': '' %>">Reviews</span>    
            </a>
        </li>

        <li class="<%- title == 'Settings'? 'active': '' %>">
            <a href="/admin/settings">
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.62731 3.28846L7.20372 1.83692C7.30093 1.59116 7.47197 1.37977 7.69441 1.23043C7.91687 1.0811 8.18035 1.00078 8.45038 1H9.54959C9.81962 1.00078 10.0831 1.0811 10.3056 1.23043C10.528 1.37977 10.699 1.59116 10.7962 1.83692L11.3727 3.28846L13.3297 4.38692L14.9115 4.15154C15.1749 4.11666 15.443 4.15895 15.6818 4.27305C15.9204 4.38715 16.1189 4.56788 16.252 4.79231L16.7882 5.70769C16.9256 5.93569 16.989 6.19897 16.9698 6.46278C16.9507 6.72659 16.85 6.97855 16.681 7.18539L15.7024 8.40154V10.5985L16.7078 11.8146C16.8768 12.0215 16.9775 12.2734 16.9966 12.5372C17.0158 12.801 16.9524 13.0643 16.815 13.2923L16.2788 14.2077C16.1457 14.4321 15.9472 14.6128 15.7086 14.727C15.4698 14.841 15.2017 14.8834 14.9383 14.8485L13.3565 14.6131L11.3995 15.7115L10.8231 17.1631C10.7258 17.4088 10.5548 17.6202 10.3324 17.7696C10.1099 17.9189 9.84643 17.9992 9.5764 18H8.45038C8.18035 17.9992 7.91687 17.9189 7.69441 17.7696C7.47197 17.6202 7.30093 17.4088 7.20372 17.1631L6.62731 15.7115L4.67019 14.6131L3.08841 14.8485C2.82502 14.8834 2.55695 14.841 2.31826 14.727C2.07959 14.6128 1.88106 14.4321 1.74791 14.2077L1.21171 13.2923C1.07431 13.0643 1.01101 12.801 1.03016 12.5372C1.0493 12.2734 1.15 12.0215 1.31895 11.8146L2.29751 10.5985V8.40154L1.29214 7.18539C1.12319 6.97855 1.02249 6.72659 1.00335 6.46278C0.984204 6.19897 1.0475 5.93569 1.1849 5.70769L1.7211 4.79231C1.85425 4.56788 2.05278 4.38715 2.29145 4.27305C2.53014 4.15895 2.79821 4.11666 3.0616 4.15154L4.64338 4.38692L6.62731 3.28846ZM6.319 9.5C6.319 10.0173 6.47624 10.5229 6.77082 10.953C7.06542 11.3831 7.48413 11.7183 7.97401 11.9163C8.46391 12.1142 9.00296 12.166 9.52302 12.0651C10.0431 11.9642 10.5208 11.7151 10.8957 11.3494C11.2707 10.9836 11.526 10.5176 11.6295 10.0102C11.7329 9.5029 11.6798 8.97704 11.4769 8.49913C11.274 8.02124 10.9304 7.61276 10.4895 7.32539C10.0486 7.03801 9.53023 6.88462 8.99998 6.88462C8.28895 6.88462 7.60702 7.16016 7.10424 7.65065C6.60147 8.14113 6.319 8.80636 6.319 9.5Z" stroke="#5C5F6A" stroke-width="1.42857" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                                                                                                     
                <span class="<%- title == 'Settings'? 'active': '' %>">Settings</span>    
            </a>
        </li>
    </ul>
</div>